.nav li:nth-child(1) a{
    color: #FABFBF;
}

.nav li:nth-child(1) a::after{
    visibility: visible;
}

/* about top */
.about_top{
    /* border: 1px solid #000; */
    height: 600px;
    position: relative;
}

.ab_top_left{
    width: 320px;
    height: 500px;
    background-color: #FABFBF;
    position: absolute;
    left: -150px;
}

.about_top span{
    /* border: 1px solid red; */
    font-size: 60px;
    letter-spacing: 10px;
    position: absolute;
    top: 50%;
    left: 50px;
}

.ab_top_ibox{
    width: 950px;
    height: 500px;
    position: absolute;
    bottom: 0;
    right: -185px;
}
/* about top end */
/* about content */
.breadcrumbs{
    width: 30%;
    display: flex;
    align-items: center;
    margin: 25px 0;
}

.breadcrumbs li{
    /* border: 1px solid #000; */
    margin-right: 10px;
}

.breadcrumbs a:hover{
    color: #FABFBF;
}

.about_bot{
    /* border: 1px solid #000; */
    height: 1440px;
    position: relative;
    
}

.ab_bot_top{
    width: 480px;
    height: 455px;
    background-color: #B1D6C7;
    position: absolute;
    left: -150px;
}

.ab_bot_text{
    width: 500px;
    height: 550px;
    background-color: #FABFBF;
    position: absolute;
    right: 50px;
    top: 30%;
    color: white;
    z-index: 3;
}

.ab_bot_text h3{
    
    font-size: 30px;
    width: 50%;
    margin: 50px auto 20px;
}

.ab_bot_text p{
    font-size: 22px;
    line-height: 40px;
    width: 60%;
    margin: 0 auto;
}

.ab_bot_tb{
    width: 500px;
    height: 550px;
    border: 3px solid #FABFBF;
    transform: rotate(-10deg);
    position: absolute;
    right: 20px;
    top: 30%;
}

.ab_bot_i1{
    width: 650px;
    height: 780px;
    position: absolute;
    top: 150px;
    left: 50px;
}

.ab_bot_i2{
    width: 400px;
    height: 450px;
    position: absolute;
    left: 10%;
    bottom: 30px;
}

.about_bot > img{
    width: 300px;
    position: absolute;
    right: 50px;
    bottom: 0;
    opacity: .6;
}
/* about content end */