/* contact main */
main.contact{
    height: 750px;
    /* border: 1px solid #000; */
    position: relative;
}

.contact p:first-child{
    width: 680px;
    height: 420px;
    background-color: #FABFBF;
}

.contact p:nth-child(2){
    width: 515px;
    height: 360px;
    background-image:url(../img/ctbg.png);
    margin-left: 100%;
    transform: translateX(-520px);
    margin-top: -25%;
}

.contact p:nth-child(3){
    width: 475px;
    height: 340px;
    background-color: #888;
    margin-left: 30%;
    margin-top: -6%;
    z-index: 2;
}

.contact_pic{
    width: 365px;
    height: 445px;
    background-image: url(../img/ctpic.png);
    position: absolute;
    top: 20%;
    left: 20%;
}

.contact_t{
    width: 345px;
    height: 425px;
    background-color: #4D4D4D;
    position: absolute;
    bottom: 6%;
    right: 19%;
}

.contact_t span{
    display: block;
    font-size: 20px;
    width: 80%;
    margin: 30px auto;
    color: white;
}
/* contact main end */

/* contact form */
section{
    width: 1440px;
    height: 725px;
    margin: 0 auto 10px;
    /* border: 1px solid #000; */
    position: relative;
}

section p:first-child{
    width: 340px;
    height: 400px;
    background-color: #B1D6C7;
}

.contact_form{
    width: 970px;
    height: 540px;
    border: 5px solid #FABFBF;
    background-color: white;
    position: absolute;
    top: 15%;
    left: 17%;
}

section p:last-child{
    width: 380px;
    height: 400px;
    background-color: #FABFBF;
    position: absolute;
    right: 0;
    bottom: 0;
}

section h3{
    font-size: 80px;
    letter-spacing: 10px;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
    position: absolute;
    top: -10%;
    left: 8%;
}

.contact_form_text{
    font-size: 20px;
    width: 60%;
    margin: 50px 150px;
    box-sizing: border-box;
}

.contact_form_text span{
    display: inline-block;
    margin-bottom: 10px;
}

.contact_form_text p{
    margin-bottom: 50px;
}

.contact_form_text input[type=text], .contact_form_text textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    font-size: 18px;
    outline: none;
  }

  .contact_form_text input[type=submit]{
    margin-left: 25%;
    margin-top: 10px;
    width: 50%;
    border: none;
    background-color: #FABFBF;
    font-size: 20px;
    line-height: 40px;
    border-radius: 10px;
    color: white;
  }
  
  label{
    padding: 40px 12px 12px 0;
  }
  

/* contact form end */