.nav li:nth-child(2) a{
    color: #FABFBF;
}

.nav li:nth-child(2) a::after{
    visibility: visible;
}

/* news top */
.news_top{
    width: 1366px;
    height: 600px;
    /* border: 1px solid #000; */
    overflow: hidden;
    margin: 0 auto;
    transform: translateX(-10%);
    font-size: 0;
    background-image: url(../img/news_top.png);
    background-repeat: no-repeat;
}

.news_top p{
    background-color: #FABFBF;
    width: 380px;
    height: 450px;
    margin-left: 60%;
    margin-top: 150px;
    clip-path: polygon(32% 0, 210% 0, 100% 100%, 0 100%, 0 77.8%, 32% 77.8%);
}

.news_top span{
    display: inline-block;
    font-size: 60px;
    letter-spacing: 10px;
    margin-left: 85%;
    margin-top: 60%;
}

/* news top end */
/* news content */
.breadcrumbs{
    width: 30%;
    display: flex;
    align-items: center;
    margin: 25px 0;
}

.breadcrumbs li{
    /* border: 1px solid #000; */
    margin-right: 10px;
}

.breadcrumbs a:hover{
    color: #FABFBF;
}

/* news */
.new_wrapper{
    width: 1440px;
    margin: 0 auto;
    /* border: 1px solid #000; */
}

.new_wrapper section{
    height: 640px;
}

.new_wrapper img{
    max-width: 100%;
}

.new_wrapper div{
    border: 2px solid #FABFBF;
    border-radius: 10px 10px 0 10px;
    width: 1080px;
    box-sizing: border-box;
    padding: 5px;
    cursor: pointer;
}

.new1 p, .new3 p{
    width: 500px;
    height: 480px;
    background-color: #FABFBF;
    border-radius: 10px;
    display: inline-block;
    margin-left: 65.3%;
    /* transform: translateX(-500px); */
    margin-top: -350px;
    clip-path: polygon(28% 0, 100% 0, 100% 100%, 0 100%, 0 72.8%, 28% 72.8%);
}

.new2 > div{
    margin-left: 25%;
    border-radius: 10px 10px 10px 0;
    border: 2px solid #B1D6C7;
}

.new2 p{
    width: 500px;
    height: 480px;
    background-color: #B1D6C7;
    border-radius: 10px;
    display: inline-block;
    margin-top: -350px;
    clip-path: polygon(0 0, 72.1% 0, 72.1% 72.8%, 100% 72.8%, 100% 100%, 0 100%);
}

.new_wrapper div::after{
    content: "";
    display: block;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .4);
    color: white;
    font-size: 70px;
    padding-top: 120px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 1065px;
    height: 490px;
    background-image: linear-gradient(rgba(250, 191, 191, .4) 0%, rgba(250, 191, 191, .6) 60%, rgba(250, 191, 191, .8) 100%);
    position: absolute;
    display: none;
}

.new1pic:hover::after{
    content: "果凍系列指彩 3件79折 2022.04.15";
    display: block;
    top: 800px;
}

.new2pic:hover::after{
    content: "消費滿1500 現折200 2022.04.02";
    display: block;
    background-image: linear-gradient(rgba(177, 214, 199, .4) 0%, rgba(177, 214, 199, .6) 60%, rgba(177, 214, 199, .8) 100%);
    top: 1440px;
}

.new3pic:hover::after{
    content: "2022 夏日新品上市";
    display: block;
    position: absolute;
    top: 2080px;
}

/* news end */

/* news content end */